<!-- Modal-->
<div id="infoModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Info</h4>
			</div>
			<div class="modal-body">
				<h4>How to use Moon Calendar</h4>
				<ol>
					<li>Choose two dates between the period you are looking for different moon phases.</li>
					<li>Click Search -button.</li>
				</ol>
				<br>
				<h4>Moon phases</h4>
				<ul>
					<li>New Moon - not visible, also called the Dark Moon</li>
					<li>Waxing Crescent</li>
					<li>First Quarter - commonly called a Half Moon</li>
					<li>Waxing Gibbous</li>
					<li>Full Moon - we can see the entire illuminated portion of the moon</li>
					<li>Waning Gibbous</li>
					<li>Third Quarter - another Half Moon, but the illuminated part is opposite of the First Quarter</li>
					<li>Waning Crescent</li>
					<li>New Moon - back to the beginning</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>